*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}
button{
    text-transform: capitalize;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
}
